/*
 デザイン要素はできるだけXDにやらせる
 こちらで定義にするのはUnityでの挙動になるようにする

 CSSパーサは以下のものを利用
 https://jsfiddle.net/developit/vzkckrw4/
 制限： Style-Valueに{}があるとおかしくなる

 セレクタに改行があるとエラーになる
 */

/*
 idについてのルールは極力つけず、classにつけるようにするのが良いのではないだろうか
 */
* {
  layer: UI;
}

/*
 リピードグリッドの子は、Layout-elementを持つ
 */
[typeof="RepeatGrid"] * {
  unity-name: "rg-child(${childIndex})";
}

/*
 横にならべる
 */
.layout-x {
  layout-group: x;
  /*layout-group-control-child-size: width height;
  layout-group-child-force-expand: width;*/
  content-size-fitter-horizontal-fit: preferred-size;
}

/*
 縦にならべる
 */
.layout-y {
  layout-group: y;
  /*layout-group-control-child-size: width height;
  layout-group-child-force-expand: width;*/
  content-size-fitter-vertical-fit: preferred-size;
}

/*
 グリッド状にならべる 横に伸びる
 */
.layout-grid-x {
  layout-group: grid;
  layout-group-control-child-size: width height;
  layout-group-child-force-expand: height;
  layout-group-start-axis: y;
  content-size-fitter-horizontal-fit: preferred-size;
}

/*
 グリッド状にならべる 縦に伸びる
 */
.layout-grid-y {
  layout-group: grid;
  layout-group-control-child-size: width height;
  layout-group-child-force-expand: width;
  layout-group-start-axis: x;
  content-size-fitter-vertical-fit: preferred-size;
}

/*
 親が自動レイアウトをもっている場合に
 これ以下のグループが必要なPREFERREDサイズを設定する
 */
.layout-rect {
  layout-element: preferred;
}

.viewport-xy {
  viewport: true;
  viewport-create-content: ".content";
  rect-mask-twod: true;
  scroll-rect: x y;
  scroll-rect-content-name: ".content";
}

.viewport-layout-x {
  viewport: true;
  viewport-create-content: ".content.layout-x";
  rect-mask-twod: true;
  scroll-rect: x;
  scroll-rect-content-name: ".content";
}

.viewport-layout-y {
  viewport: true;
  viewport-create-content: ".content.layout-y";
  rect-mask-twod: true;
  scroll-rect: y;
  scroll-rect-content-name: ".content";
}

.viewport-grid-x {
  viewport: true;
  viewport-create-content: ".content.layout-grid-x";
  rect-mask-twod: true;
  scroll-rect: x;
  scroll-rect-content-name: ".content";
  scroll-rect-horizontal-scrollbar-name: ".scrollbar-x";
}

.viewport-grid-y {
  viewport: true;
  viewport-create-content: ".content.layout-grid-y";
  rect-mask-twod: true;
  scroll-rect: y;
  scroll-rect-content-name: ".content";
  scroll-rect-vertical-scrollbar-name: ".scrollbar-y";
}

.viewport-layout-x .content {
  conent-size-fitter: x;
  rect-transform-anchor-offset-y: 0 1 0 0;
}

.viewport-layout-y .content {
  /*
   親と横幅がぴったり重なる
   anchor.min.x: 0
   anchor.max.x: 1
   offset.min.x: 0
   offset.max.x: 0
   */
  rect-transform-anchor-offset-x: 0 1 0 0;
}

.viewport-grid-x .content {
  rect-transform-anchor-offset-x: 0 1 0 0;
}

.viewport-grid-y .content {
  rect-transform-anchor-offset-y: 0 1 0 0;
}

.scrollbar-x {
  scrollbar: true;
  scrollbar-direction: ltr;
  scrollbar-handle-name: ".handle";
}

.scrollbar-x > .handle {
  fix: l r t b;
}

.scrollbar-y {
  scrollbar: true;
  scrollbar-direction: btt;
  scrollbar-handle-name: ".handle";
}

.scrollbar-y > .handle {
  fix: l r t b;
}

.slider-x {
  slider: true;
  slider-direction: ltr;
  slider-fill-rect-name: ".fill";
  slider-handle-rect-name: ".handle";
}

.slider-x .fill {
  wrap: true;
}

.slider-x .handle {
  wrap-slider-handle-x:true;
}

.slider-y {
  slider: true;
  slider-direction: btt;
  slider-fill-rect-name: ".fill";
  slider-handle-rect-name: ".handle";
}

.slider-y > .fill {
  wrap: true
}

.slider-y > .handle {
  wrap-slider-handle-y:true
}

.dots-scrollbar {
  scrollbar: true;
  scrollbar-direction: ltr;
  layout-group: x;
  layout-group-spacing-x: 9px;
  content-size-fitter-vertical-fit: preferred-size;
  content-size-fitter-horizontal-fit: preferred-size;
}

.dots-scrollbar > .toggle {
  layout-element: min;
}

.comp-image {
  image: true;
  component: true;
}

.image, [tag-name='image'], [tag-name$='-image'], [class$="-image"], [tag-name$='_image'], [class$="_image"] {
  image: true;
}

.text, [tag-name='text'], [tag-name$='-text'], [class$="-text"], [tag-name$='_text'], [class$="_text"] {
  text: true;
}

.textmp, [tag-name='textmp'], [tag-name$='-textmp'], [class$="-textmp"], [tag-name$='_textmp'], [class$="_textmp"] {
  textmp: true;
}

.button, [tag-name='button'], [tag-name$='-button'], [class$="-button"], [tag-name$='_button'], [class$="_button"] {
  button: true;
  button-transition: color-tint;
  button-transition-target-graphic-name: ".target-image";
  button-transition-highlighted-sprite-name: ".highlighted-image";
  button-transition-pressed-sprite-name: ".pressed-image";
  button-transition-selected-sprite-name: ".selected-image";
  button-transition-disabled-sprite-name: ".disabled-image";
}

.toggle, [tag-name$="toggle"], [tag-name$="-toggle"], [class$="-toggle"], [tag-name$="_toggle"], [class$="_toggle"] {
  toggle: true;
  toggle-transition: color-tint;
  toggle-transition-target-graphic-name: ".target-image";
  toggle-transition-highlighted-sprite-name: ".highlighted-image";
  toggle-transition-pressed-sprite-name: ".pressed-image";
  toggle-transition-selected-sprite-name: ".selected-image";
  toggle-transition-disabled-sprite-name: ".disabled-image";
  toggle-graphic-name: ".checked-image"; /* ONのときのチェック画像 */
}

.transition-sprite-swap {
  button-transition: sprite-swap;
  toggle-transition: sprite-swap;
}

.no-slice {
  image-slice: false;
}

.input, [tag-name$="input"], [tag-name$="-input"], [class$="-input"], [tag-name$="_input"], [class$="_input"] {
  input: true;
  input-transition: color-tint;
  input-transition-target-graphic-name: ".target-image";
  input-transition-highlighted-sprite-name: ".highlighted-image";
  input-transition-pressed-sprite-name: ".pressed-image";
  input-transition-selected-sprite-name: ".selected-image";
  input-transition-disabled-sprite-name: ".disabled-image";
  input-target-graphic-name: ".target-image"; /* ONのときのチェック画像 */
  input-text-component-name: ".text";
  input-placeholder-name: ".placeholder";
}

.mask-image {
  image: true;
  component: true;
}
